.container-test{
    &-text{
        font-weight: bold;
        font-size: 5rem;
    }
    &-box1{
        background-color: aqua;
        width: 10rem;
        height: 10rem;
    }
    &-box2{
        background-color: yellow;
        width: 10rem;
        height: 10rem;
    }
}